/*报错提示*/
.div{margin: 30px auto; width: 20%; text-align: center;border-radius: 10px; background: lightgreen;}

/*普通分页*/
#pages{
	margin-top: 50px;
	float:right;
}
#pages .pagination{
	height:auto;
	margin-right:0px;
}
#pages li{
	float: left;
	height: 20px;
	padding: 0 10px;
	display: block;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	outline: none;
	background-color: lightblue;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid rgba(0, 0, 0, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
	-moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}

#pages .pagination .disabled{
	color: #666666;
	cursor: default;
}

#pages .pagination a{
	color:white;
}


#pages .pagination .active{
	background-color: #88a9eb;
	color: #323232;
	border: none;
	background-image: none;
	-webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}


