#pages ul {
    width: 1000px;
    height: 50px;
    margin-top: 30px;
}

#pages li {
    float: left;
    width: 30px;
    height: 30px;
    list-style: 30px;
    text-align: center;
}

#pages li a {
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    padding: 0;
    background: #fafafa;
    color: #666;
    font-size: 12px;
    border: 1px solid #ddd;
}

#pages li:first-child {
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 28px;
    border: 1px solid #ddd;
    cursor: pointer;
}

#pages li:last-child {
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 28px;
    border: 1px solid #ddd;
    cursor: pointer;
}

#pages .active span {
    border: 1px solid #ddd;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    padding: 0;
    font-size: 12px;
}